# Copy to .env and fill values
PORT=3000

# SMTP settings for nodemailer (example: Mailtrap, SendGrid SMTP, SES SMTP)
SMTP_HOST=www.omegascentz.info
SMTP_PORT=587
SMTP_USER=omegahobart@gmail.com
SMTP_PASS=501stCap72!Omega

# Destination email that receives subscriber notifications
TO_EMAIL=omega.omegascentz.info


